@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my FAQ WebApp!</h1>
    <p>This Webapp will demonstrate the use of C#, .net, and CRUD capabilities!</p>
</div>
